@font-face {
  font-family: "Outfit Flex";
  src: url("../assets/Outfit-VariableFont_wght.woff2") format("woff2") tech("variations"), url("../assets/Outfit-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100 1000;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Outfit Flex", sans-serif;
  overflow-x: hidden;
  background: #000;
  color: white;
}

.content {
  width: 100vw;
}
