@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

#cover {
  position: relative;
  min-height: 400px;
  height: 80vh;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 350ms ease-out;
    z-index: 1;
  }

  video:hover {
    transform: scale(1.05);
  }

  #title {
    position: absolute;
    bottom: 32px;
    left: 128px;
    font-size: 72px;

    @include for-phone-only {
      bottom: 28px;
      left: 32px;
      font-size: 38px;
    }
  }
}

#main {
  width: 100vw;
  min-height: 600px;
  background-color: #222;
  font-size: 40px;

  #details {
    padding: 64px;
  }

  .section {
    font-weight: 200;
    text-transform: uppercase;
    font-family: "Outfit Flex", sans-serif;
    font-size: 18px;
    padding-bottom: 8px;
    opacity: 0.85;
  }

  svg {
    fill: rgb(var(--text));
    width: 20px;
  }

  a {
    color: rgb(var(--text));
    text-decoration: none;
    margin-right: 16px;
    white-space: nowrap;
  }

  @include for-phone-only {
    font-size: 22px;
    #details { padding: 16px; }
    .section { font-size: 12px; padding-bottom: 2px; }
    svg { width: 12px; }
  }
}

lr-footer {
  position: relative;
}

.separator {
  height: 1px;
  background-color: rgba(var(--text), 0.5);
  margin: 64px 0;

  @include for-phone-only {
    margin: 0 16px 16px;
  }
}

.cell {
  padding: 0 64px;

  @include for-phone-only {
    padding: 0 16px 16px 16px;
  }
}

.line {
  width: 100%;
  display: flex;
  flex-flow: row;

  @include for-phone-only {
    flex-flow: column;
  }
}

.line + .line {
  padding-top: 64px;

  @include for-phone-only {
    padding-top: 0;
  }
}

.synopsis {
  max-width: 45%;

  @include for-phone-only {
    max-width: 90%;
  }
}

.result {
  text-decoration: underline;
}