@font-face {
  font-family: 'Outfit Flex';
  src: url('assets/Outfit-VariableFont_wght.woff2') format('woff2') tech('variations'),
  url('assets/Outfit-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 1000;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Outfit Flex", sans-serif;
  overflow-x: hidden;
  background: #000;
  color: white;
}

header {
  padding: 64px 64px 0 64px;
  box-sizing: border-box;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  flex-flow: row;

  #logo {
    img { height: 64px; }
    flex-grow: 1;
  }
}

#frame {
  background-image: url("assets/frame-2.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;

  #legend {
    align-self: end;
    padding: 128px 64px 64px;
    text-align: right;
    flex-grow: 1;
  }

  #links {
    padding: 64px;
    align-self: end;
    display: flex;
    flex-flow: column;

    a {
      color: #fff;
      font-size: 64px;
      font-weight: 100;
      font-style: italic;
      text-decoration: none;
      transition: font-weight ease-out 300ms;
    }

    :hover {
      font-weight: 320;
    }
  }
}

.prod-year {
  font-size: 24px;
  font-weight: 200;
}

.prod-title {
  font-size: 64px;
  line-height: 64px;
  font-weight: 320;
}
